furo    # theme
pyyaml
six
sphinx
sphinx-autobuild             # watches source directory and triggers rebuilds
sphinx-copybutton            # adds a "copy" button to code blocks
sphinx-inline-tabs           # inline content tabs, such as for selecting an OS
sphinxcontrib-mermaid        # graphing functions
urllib3

# Updated cmtinc from source
git+https://github.com/w-vi/sphinxcontrib-cmtinc.git@3094d20d7aaf2afbc3c080f6b58433a110458d1a#egg=sphinxcontrib-cmtinc
